<!-- <div class="form">
  <form [formGroup]="inputForm">
    <p style="text-align: center;margin-left: 32px;"> Curcency-Convertor</p>
    <div class="form-group col-md-11" style="margin-left: 15px;">
      <label>Value</label>
      <input formControlName="amount" id="amount" class="form-control" >
    </div>
    <div class="form-group col-md-11" style="margin-left: 15px">
      <label>FROM Curcency</label>
      <select formControlName="fromCurrency" id="fromCurrency" class="form-control" >
        <option *ngFor="let ind of currency" [value]="ind.value">{{ind.id}}</option>
      </select>
    </div>
    <div class="form-group col-md-11" style="margin-left: 15px">
      <label>TO Curcency</label>
      <select formControlName="toCurrency" id="toCurrency" class="form-control" >
        <option *ngFor="let ind of currency" [value]="ind.value" >{{ind.id}}</option>
      </select>
    </div>
    <div>
      <button class="btn btn-primary" (click)="submitButton()" style="margin-left: 15px;margin-top: 10px;" id="submitButton" color="primary" type="submit">
        CLICK ME
      </button>
    </div>
    <div id="result"class="form-group col-md-11" style="margin-left: 15px;">
      <p id="resValue" style="text-align: center;margin-left: 0px;">{{inputForm.value.resValue }}</p>
    </div>
  </form>
</div> -->

<form>
  From:<select name="fCurrency" [(ngModel)]="opt1" id="fromCurrency">
    <option value="1.126735">USD</option>
    <option value="79.677056">INR</option>
    <option value="0.876893">GBP</option>
  </select><br>
  To:<select name="tCurrency" [(ngModel)]="opt2" id="toCurrency">
    <option value="1.126735">USD</option>
    <option value="79.677056">INR</option>
    <option value="0.876893">GBP</option>
  </select>
  <input type="number"[(ngModel)]="amt" name="amount" id="amount">
  <input type="button" value="convert" id="submitButton" (click)="exchange(opt1,opt2,amt)">
  <input type="text" [(ngModel)]="res" id="result">
  <p id="resValue">{{result}}</p>
  </form>